 Following snnipet must be added to the <appSettings> section of web.config files.   

    <!-- BEGIN SPGENGO SETTINGS-->
    <add key="spGengo_apiUrl" value="http://api.sandbox.mygengo.com/v1/" />
    <add key="spGengo_responseFormat" value="json" />
    <add key="spGengo_useProxy" value="false" />
    <add key="spGengo_proxyHost" value="10.8.0.35" />
    <add key="spGengo_proxyPort" value="3128" />
    <add key="spGengo_proxyUsername" value="" />
    <add key="spGengo_proxyPassword" value="" />
    <add key="spGengo_jobCount" value="3" />
    <add key="spGengo_debug" value="true" />    
    <!-- test settings -->
    <add key="spGengo_delay" value="2000" /> <!-- delay (milliseconds)-->    
    <!-- END SPGENGO SETTINGS-->